.first {
    background: url(../images/7.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.first .navbar,
.dropdown-menu {
    background-color: transparent !important;
}

.contact {
    opacity: 0.5;
}

.first-title {
    font-size: 5em
}