.tenor-sans {
    font-family: 'Tenor Sans', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;

}

.mr-2 {
    margin-right: 2rem;
}

.color-white {
    color: #fff;
    -webkit-text-stroke: 1.5px black;
}

/*//////////////////////////Header /////////////////*/
.logo {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 4px;
}

.first {
    background: url(../images/9.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.div-bar {
    margin-right: 20rem;
    margin-left: 20rem;
}

.first .navbar,
.dropdown-menu {
    background-color: transparent !important;
}



.first-title {
    font-size: 110px;
    font-weight: 400;
    margin-top: 0;
}

.sub-title {
    font-size: 32px;
    margin-top: -5rem;

}

.button-1-div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}

.contact {
    opacity: 0.9;
    width: 22rem;
    height: 5rem;
    font-size: 2.5rem;
}

/*//////////////////////////Main /////////////////*/

.main {
    background: url(../images/6.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.main-div-1 {
    margin-top: 20rem;
}


h3 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    color: brown;
}

.main-text-1 {
    font-size: 40px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.main-text-2 {
    font-size: 32px;
    color: white;
    text-align: center;
}

/*//////////////////////////Slider /////////////////*/

.mb-300 {
    opacity: 0.7;
    background-color: white;
}

.img-carousel {
    height: 100vh;
}

.carousel-title {
    font-size: 2em;
    font-weight: 300;
    color: black;
    text-align: center;
}

.carousel-text {
    font-size: 1em;
    font-weight: 300;
    color: black;
    text-align: center;
}

/*//////////////////////////Footer /////////////////*/

.foot {
    max-height: 560px;
    max-width: 100%;
    background-color: black;
    color: white;
    display: flex;
    font-size: medium;
}

.foot h6 {
    height: 24px;
    text-align: start;
    margin-left: auto;
}

.foot p {
    color: grey;
    margin-top: 20px;
}

.foot li {
    text-decoration: none;
    list-style-type: none;
}

.foot ul {
    margin-top: 130px;
}

.footOne {
    margin-left: 366px;
}

.footTwo {
    margin-left: 22px;
}

.footThree {
    margin-left: 28px;
}

.footFour {
    margin-left: 30px;
}

.footFive {
    margin-left: 60px;
}

.lastDiv {
    display: flex;
}








/*//////////////////////////Medias /////////////////*/

@media(max-width:1878px) {
    .div-bar {
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }

}

@media(max-width:1210px) {
    .mr-2 {
        margin-right: 0;
    }

    .main-div-1 {
        margin-top: 10rem;
    }


    h3 {
        font-size: 30px;
    }

    .main-text-1 {
        font-size: 20px;
        font-weight: 300;
    }

    .main-text-2 {
        font-size: 15px;
    }

    .foot h6 {
        height: 14px;
        text-align: start;
        margin-left: auto;
    }

    .foot p {
        color: grey;
        margin-top: 10px;
    }

    .foot li {
        text-decoration: none;
        list-style-type: none;
    }

    .foot ul {
        margin-top: 70px;
    }

    .footOne {
        margin-left: 166px;
    }

    .footTwo {
        margin-left: 12px;
    }

    .footThree {
        margin-left: 18px;
    }

    .footFour {
        margin-left: 20px;
    }

    .footFive {
        margin-left: 40px;
    }

    .lastDiv {
        display: flex;
    }

}

@media(max-width:1054px) {
    .first-title {
        font-size: 36px;
        font-weight: 400;
        -webkit-text-stroke: 1.5px white;
    }

    .sub-title {
        font-size: 22px;
        margin-top: 0;
    }

    .contact {
        opacity: 0.7;
        width: 12rem;
        height: 3rem;
        font-size: 1rem;
    }

    .color-white {
        color: #fff;
    }

    .font-size-10 {
        font-size: 10px;
    }

    .main-div-1 {
        margin-top: 10rem;
    }

    .carousel-title {
        font-size: 1.5em;
        font-weight: 300;
        color: black;
        text-align: center;
    }

    .carousel-text {
        font-size: 1em;
        font-weight: 300;
        color: black;
        text-align: center;
    }

    .foot h6 {
        height: 6px;
        text-align: start;
        margin-left: auto;
    }

    .foot p {
        color: grey;
        margin-top: 5px;
    }

    .foot li {
        text-decoration: none;
        list-style-type: none;
    }

    .foot ul {
        margin-top: 0px;
    }

    .footOne {
        margin-left: 6px;
    }

    .footTwo {
        margin-left: 0px;
    }

    .footThree {
        margin-left: 8px;
    }

    .footFour {
        margin-left: 8px;
    }

    .footFive {
        margin-left: 12px;
    }

    .lastDiv {
        display: flex;
    }

}

@media(max-width:960px) {

    .hamburguer {
        width: 0.5em;
        height: 0.5em;
        border: none;
    }

    .carousel-title {
        font-size: 1em;
        font-weight: 300;
        color: black;
        text-align: center;
    }

    .carousel-text {
        font-size: 0.75em;
        font-weight: 300;
        color: black;
        text-align: center;
    }

    .foot {
        display: block;
        max-height: 1000px;
    }

    .email-imput {
        width: 138px;
    }

}

@media(max-width:390px) {
    .main-div-1 {
        margin-top: 5rem;
    }

    .foot {

        max-height: 1500px;
    }

}